<header>
    <section>
        <h1>Score table</h1>
        <p>Here is the list of scores</p>
        <article>
            <button routerLink="/me" routerLinkActive="true">Play</button>
            <button (click)="logout()">Logout</button>
        </article>
    </section>
</header>

<section>
    <ul>
        <li *ngFor="let score of scores">
            <b>{{ score.score }}pts</b>
            <span>{{ score.firstname }}, {{ score.lastname }} / {{ score.date | date:'dd/MM/yyyy - HH\'h\'mm\'m\'ss\'s\'' }}</span>
        </li>
    </ul>
</section>